/* CHAT PAGE */
.chatMessage {
	/* align-items: center; */
	justify-content: flex-start;
  background-color: dimgrey;/*#72657B;/*#9C94A2;*/
	border: 4px solid darkgrey;
  border-radius: 2vw;
	color: whitesmoke;
	display: flex;
	flex-direction: row;
  margin: 1vw 0;
	padding: calc(5px + 0.5vw);/*1vw;*/
	font-size: calc(10px + 0.5vw);
	line-height: calc(12px + 0.5vw);
	text-align: justify;
	width:inherit;
}

.chatTextCol{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: flex-start;
	margin-right: 1vw;
}

.chatMessageText{ /*Not working for some reason. set in javascript*/
	margin: 0;
}

.chatUsernameP{
	margin: 0 0 5px 0;
	font-weight: bold;
}

.chatAvatar {
	/* align-self: center; */
  border-radius: 50%;
	display: block;
  float: left;
	height: calc(25px + 4vw);/*100px*/
  margin-right: 1.8vw;/*20px*/
  width: calc(25px + 4vw);/*100px*/
	flex: none;
}
.avatarImg {
	border-radius: 50%;
	height: 100%;
	width: 100%;
}
.chatPage{
	font-size: calc(9px + 0.5vw);
}

.chatScroll{
  height: 75vh;
  overflow-y: auto;
  text-align: center;
	margin: 2vw;
}

.chatNotif{
  color: darkgrey;
	margin-left: 1vw;
	opacity: 0.8;
}

.exitButt {
	margin: 0 0 0 2vw;
	padding: calc(2px + 1vw);
  background-color: #282A2C;
	border-radius: 50%;
  border: 1px solid darkgrey;
	font-size: calc(10px + 1vw);
	color: darkgrey;
}

.exitButt:hover{
	background-color: darkgrey;
	color: dimgrey;
	/* border-color: black; */
}

/*below loading animation adapted from https://codepen.io/typ90/pen/vgEbvN*/
.loader {
    text-align: center;
		opacity:1;
		display: block;
}
.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: whitesmoke;
    border-radius: 10px;
    animation: loader 0.4s infinite alternate;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.1s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.3s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}
