/* CHAT PAGE */
.chatMessage {
	align-items: center;
	justify-content: flex-start;
  background-color: #4E4256;/*#72657B;/*#9C94A2;*/
	border: 4px solid #dedede;
  border-color: #2C1D36;/*#483D50; /*#72657B;*/
  border-radius: 3px;
	color: whitesmoke;
	display: flex;
	flex-direction: row;
  margin: 2vw 0;
	padding: 1vw;
	font-size: calc(10px + 0.5vw);
	text-align: justify;
	width:inherit;
}

.chatTextCol{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	align-items: flex-start;
	justify-content: flex-start;
	align-self: flex-start;
	margin-right: 1vw;
}

.chatMessageText{ /*Not working for some reason. set in javascript*/
	margin: 0;
}

.chatUsernameP{
	margin: 0;
}

.chatAvatar {
  display: block;
  float: left;
	height: calc(25px + 5vw);/*100px*/
  margin-right: 1.8vw;/*20px*/
  width: calc(25px + 5vw);/*100px*/
	flex: none;
}

.chatPage{
	font-size: calc(9px + 0.5vw);
}

.chatScroll{
  height: 85vh;
  overflow-y: auto;
  text-align: center;
}

.chatNotif{
  color: darkgrey;
	margin-left: 1vw;
	opacity: 0.8;
}
