/* HANGMAN GAME */
.hangmanBoard{
	align-items: center; /*center aligned within the column*/
  display: flex;
  flex-direction: column;
	justify-content: flex-start;/*glues it to the top of the column*/
	/*margin: auto; /*0 10vw; /*top and bottom : left and right*/

}

.hangmanWord{
	font-size: calc(13px + 2vw);/*calc(16px + 2vw); /*clamp(16px, 4vw, 60px);*/
  text-align: center;
  white-space: pre;
	margin: calc(10px + 3vw);
}

.hangmanFeedback{
	font-size: calc(20px + 2vw);
  text-align: center;
  white-space: pre;
	margin: 2vw;
}

.alphabet{ /*full hangman alphabet board*/
  display: flex;
  flex-direction: column;
	font-size: calc(20px + 2vw);
}

.alphaLine{ /*just one line of the hangman alphabet*/
  display: flex;
  flex-direction: row;
  justify-content: center;

}


button:disabled,
button[disabled]{
  opacity: 0;
}

@media screen and (max-width: 450px) {
  /* .helper {
		width: 95vw !important;
  } */
}
