/*PASSCODE PAGE*/
.passcodeBody{
		margin-top: 10vh;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
}
.passcodeText{
  font-size: calc(20px + 3vw);
	margin-bottom: 2vw;
	z-index: 1;
}
.codeInput{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	margin: calc(16px + 1.5vw);
	z-index: 1;
}
.codeInputBox{
	text-transform: uppercase;
	margin: calc(2px + 0.5vw);
	font-size: calc(30px + 1vw);
	width: calc(20px + 1vw);
	text-align: center;
	color: whitesmoke;
	border: 1.5px solid darkgrey;
	border-radius: 4px;
	background-color: transparent;
}
.codeFeedback { /*not working for some reason*/
  color: firebrick;
  opacity: 0;
	font-size: calc(15px + 1vw);
	z-index: 1;
}

.enterButt {
	padding: calc(2px + 1vw);
  background-color: #664180;
  border: 1px solid #2C1D36;
	font-size: calc(15px + 1vw);
	color: whitesmoke;
	border-radius: 4px;
	z-index: 1;
}

.enterButt:hover{
	background-color: #452b57;
	color: darkgrey;
	border-color: #8955ad;
}

@keyframes moveDown {
	0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
	0%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(0, 20vw);
	}
}
@keyframes moveUp {
	0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
	0%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(0, -20vw);
	}
}
@keyframes moveLeft {
	0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
	0%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(20vw, 0);
	}
}
@keyframes moveRight {
	0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
	0%{
		transform: translate(0, 0);
	}
	100%{
		transform: translate(-20vw, 0);
	}
}

/* The helper message box */
.helper {
	display: flex;
  flex-direction: row;
  font-size: calc(10px + 0.7vw);
	left: 50%; /* centers on x axis */
	padding: 1.5vw;
	position: fixed;
  text-align: left;
	transform: translate(-50%,-65%);
  width: calc(300px + ((100vw - 300px) * 0.5));
	height: calc(3*(10px + 0.7vw)+1vh);
	margin: 1vw;
	z-index: 2;
}

.helperText{
	margin: 0;
}
.allHelperText{
  flex-grow: 3;
	line-height: calc(15px + 0.5vw);
}
.helperAvatarImg {
	align-self: center;
  border-radius: 50%;
  height: auto;
	width: calc(10px + 5vw);
	margin-right: 2vw;
}
/* The close button */
.closebtn {
  color: white;
	cursor: pointer;
	float: right;
  font-size: calc(15px + 1vw);;
	font-weight: bold;
  line-height: calc(8px + 0.5vw);
  position: relative;
	align-items: flex-start;
	opacity: 0.5;
	padding: 1vw;
}
/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
